Repository beelzer/QTframework, changes with the labels that .github/labeler.yml gives for each.
All labels: python, documentation, testing, ci/cd, qt, i18n, configuration, docker, dependencies, security, examples, scripts, database, performance, core, navigation, state-management, theming, widgets, utils

TEST: Fix ruff issues to isolate mypy type errors
  src/test_annotations.py
Labels: python, testing

Add GitHub Actions annotations for mypy and ruff format
  .claude/settings.local.json
  .github/scripts/ruff_format_annotate.py
  .github/workflows/ci.yml
  src/test_annotations.py
Labels: python, testing, ci/cd, configuration

Replace mypy action with custom annotation script
  .github/scripts/mypy_annotate.py
  .github/workflows/ci.yml
Labels: python, ci/cd, configuration

Fix nested test job naming in CI workflow
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Remove test annotations file
  src/test_annotations.py
Labels: python, testing

Remove duplicate job name in reusable test workflow
  .github/workflows/test-reusable.yml
Labels: ci/cd, configuration

Revert to inline test matrix for cleaner job names
  .github/workflows/ci.yml
  .github/workflows/test-reusable.yml
Labels: ci/cd, configuration

Optimize lint and type-check jobs for faster CI
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Fix mypy by installing dev dependencies with type stubs
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Add pytest annotations
  .github/scripts/pytest_annotate.py
  .github/workflows/ci.yml
Labels: python, testing, ci/cd, configuration

Fix test summary script for Windows compatibility
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Split coverage into separate job for faster test feedback
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Improve job names to be more descriptive and tool-first
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Add additional checks from pre-commit to CI
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Use official GitHub Actions for additional checks with annotations
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Split additional checks into separate jobs for better visibility
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Fix shellcheck warnings by grouping redirects
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Add emojis and improve job names for better clarity
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Add consolidated CI summary report at the end
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Add sophisticated CI summary with coverage metrics and platform emojis
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Match CI markdownlint rules with pre-commit and simplify summary tables
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Fix markdownlint rule disabling syntax
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Centralize markdownlint configuration in config file
  .github/workflows/ci.yml
  .markdownlint.json
  .pre-commit-config.yaml
Labels: ci/cd, configuration

Disable MD040 rule in markdownlint config
  .markdownlint.json
Labels: none

Move markdownlint config to pyproject.toml
  .github/workflows/ci.yml
  .markdownlint.json
  .pre-commit-config.yaml
  pyproject.toml
Labels: python, ci/cd, configuration, dependencies

Improve pytest annotations with detailed error messages
  .github/scripts/pytest_annotate.py
Labels: python, testing, ci/cd

Redesign CI summary with unified vertical badge layout
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Redesign CI summary as borderless table and fix pytest annotations
  .github/scripts/pytest_annotate.py
  .github/workflows/ci.yml
Labels: python, testing, ci/cd, configuration

Fix badge rendering and clean up summary table formatting
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Improve pytest line number extraction in annotations
  .github/scripts/pytest_annotate.py
Labels: python, testing, ci/cd

Fix coverage test performance by streaming output
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Speed up apt package installation by skipping man-db triggers
  .github/actions/setup-environment/action.yml
Labels: ci/cd, configuration

Optimize Windows test performance in CI
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Fix Windows Defender exclusion step ordering
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Add detect-secrets, pyupgrade, and prettier to CI
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Add test files to trigger CI check errors
  .github/workflows/_ci_test_errors.yml
  _ci_test_errors.json
  _ci_test_errors.md
  _ci_test_errors_codespell.txt
  src/qtframework/_ci_test_errors.py
Labels: python, documentation, testing, ci/cd, qt, configuration

Add annotation scripts for detect-secrets and pyupgrade
  .github/scripts/detect_secrets_annotate.py
  .github/scripts/pyupgrade_annotate.py
  .github/workflows/ci.yml
  pyproject.toml
Labels: python, ci/cd, configuration, dependencies

Remove test error files
  .github/workflows/_ci_test_errors.yml
  _ci_test_errors.json
  _ci_test_errors.md
  _ci_test_errors_codespell.txt
  src/qtframework/_ci_test_errors.py
Labels: python, documentation, testing, ci/cd, qt, configuration

Add minimal test files to verify CI annotations
  .github/workflows/test_annotations.yml
  src/qtframework/test_annotations.py
  test_annotations.json
  test_annotations.txt
Labels: python, testing, ci/cd, qt, configuration

Improve annotation scripts for prettier and pyupgrade
  .github/scripts/prettier_annotate.py
  .github/scripts/pyupgrade_annotate.py
  .github/workflows/ci.yml
Labels: python, ci/cd, configuration

.github/labeler.yml:

# Auto-labeling configuration for pull requests

# Source code changes
python:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.py"
          - "pyproject.toml"
          - "requirements*.txt"
          - "uv.lock"

# Documentation
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "**/*.md"
          - "**/*.rst"
          - "README.md"
          - "CHANGELOG.md"
          - "CONTRIBUTING.md"

# Testing
testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**/*"
          - "**/*test*.py"
          - "pytest.ini"
          - ".coveragerc"
          - "tox.ini"

# CI/CD
ci/cd:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"
          - ".gitlab-ci.yml"
          - "Jenkinsfile"
          - ".circleci/**/*"
          - ".travis.yml"

# QT Framework specific
qt:
  - changed-files:
      - any-glob-to-any-file:
          - "src/qtframework/**/*"
          - "**/widgets/**/*"
          - "**/gui/**/*"

# i18n/Localization
i18n:
  - changed-files:
      - any-glob-to-any-file:
          - "locales/**/*"
          - "src/qtframework/i18n/**/*"
          - "**/*.po"
          - "**/*.pot"
          - "**/*.mo"
          - "babel.cfg"

# Configuration
configuration:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.yml"
          - "**/*.yaml"
          - "**/*.toml"
          - "**/*.ini"
          - "**/*.cfg"
          - ".env*"

# Docker
docker:
  - changed-files:
      - any-glob-to-any-file:
          - "Dockerfile*"
          - "docker-compose*.yml"
          - ".dockerignore"
          - "docker/**/*"

# Dependencies
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "pyproject.toml"
          - "requirements*.txt"
          - "uv.lock"
          - "poetry.lock"
          - "Pipfile*"
          - "setup.py"
          - "setup.cfg"

# Security
security:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*security*"
          - "**/*auth*"
          - "**/*crypt*"
          - ".secrets*"

# Examples
examples:
  - changed-files:
      - any-glob-to-any-file:
          - "examples/**/*"
          - "demo/**/*"
          - "samples/**/*"

# Scripts
scripts:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/**/*"
          - "tools/**/*"
          - "bin/**/*"

# Database
database:
  - changed-files:
      - any-glob-to-any-file:
          - "**/models/**/*"
          - "**/migrations/**/*"
          - "**/alembic/**/*"
          - "**/*.sql"

# Performance
performance:
  - changed-files:
      - any-glob-to-any-file:
          - "**/benchmark*/**/*"
          - "**/perf*/**/*"
          - "**/*profile*"

# Major components
core:
  - changed-files:
      - any-glob-to-any-file:
          - "src/qtframework/core/**/*"

navigation:
  - changed-files:
      - any-glob-to-any-file:
          - "src/qtframework/navigation/**/*"

state-management:
  - changed-files:
      - any-glob-to-any-file:
          - "src/qtframework/state/**/*"

theming:
  - changed-files:
      - any-glob-to-any-file:
          - "src/qtframework/theme/**/*"
          - "**/styles/**/*"
          - "**/*.qss"

widgets:
  - changed-files:
      - any-glob-to-any-file:
          - "src/qtframework/widgets/**/*"

utils:
  - changed-files:
      - any-glob-to-any-file:
          - "src/qtframework/utils/**/*"
