Repository beelzer/QTframework, changes with the labels that .github/labeler.yml gives for each.
All labels: python, documentation, testing, ci/cd, qt, i18n, configuration, docker, dependencies, security, examples, scripts, database, performance, core, navigation, state-management, theming, widgets, utils

Fix GitHub Actions compatibility issues
  .claude/settings.local.json
  .github/actions/build-docs/action.yml
  .github/actions/setup-environment/action.yml
Labels: ci/cd, configuration

Optimize setup-environment action for different use cases
  .github/actions/setup-environment/action.yml
Labels: ci/cd, configuration

Fix EGL package name for Ubuntu 24.04
  .github/actions/setup-environment/action.yml
Labels: ci/cd, configuration

Fix test collection issues in workflows
  tests/fixtures/__init__.py
  tests/fixtures/test_factories.py
  tests/performance/test_performance.py
Labels: python, testing, performance

Fix failing tests to match actual API
  tests/performance/test_performance.py
  tests/unit/test_basic.py
Labels: python, testing, performance

Trigger documentation workflow with welcome message
  docs/index.md
Labels: documentation

Simplify Sphinx configuration to fix docs build
  docs/conf.py
Labels: python, documentation

Create ultra-basic Sphinx configuration to resolve build issues
  docs/conf.py
Labels: python, documentation

Fix documentation build by removing broken references
  docs/api/index.md
  docs/index.md
  docs/quickstart.md
Labels: documentation

Fix documentation workflow by installing Qt dependencies for autodoc
  .github/actions/setup-environment/action.yml
  docs/conf.py
Labels: python, documentation, ci/cd, configuration

Integrate built-in theme colors into Sphinx documentation
  docs/conf.py
Labels: python, documentation

Add comprehensive documentation with user guides
  docs/api/index.md
  docs/guides/internationalization.md
  docs/guides/navigation.md
  docs/guides/plugins.md
  docs/guides/state_management.md
  docs/guides/theming.md
  docs/index.md
Labels: documentation

Fix docstring formatting issues in i18n contexts module
  src/qtframework/i18n/contexts.py
Labels: python, qt, i18n

Remove GitHub Pages setup documentation
  GITHUB_PAGES_SETUP.md
Labels: documentation

Improve docstrings and remove unnecessary comments
  src/qtframework/core/application.py
  src/qtframework/i18n/extractor.py
  src/qtframework/layouts/flow.py
  src/qtframework/navigation/router.py
  src/qtframework/plugins/base.py
  src/qtframework/state/middleware.py
  src/qtframework/state/reducers.py
  src/qtframework/widgets/inputs.py
Labels: python, qt, i18n, core, navigation, state-management, widgets

Achieve A+ documentation quality with comprehensive improvements
  .claude/settings.local.json
  src/qtframework/config/__init__.py
  src/qtframework/config/config.py
  src/qtframework/layouts/flow.py
  src/qtframework/layouts/sidebar.py
  src/qtframework/navigation/__init__.py
  src/qtframework/navigation/router.py
  src/qtframework/plugins/base.py
  src/qtframework/plugins/manager.py
  src/qtframework/state/__init__.py
  src/qtframework/state/store.py
  src/qtframework/themes/__init__.py
  src/qtframework/themes/theme.py
  src/qtframework/themes/theme_manager.py
  src/qtframework/utils/validation.py
  src/qtframework/widgets/__init__.py
Labels: python, qt, navigation, state-management, widgets, utils

Add .gitattributes to normalize line endings and suppress warnings
  .gitattributes
Labels: none

Update .gitattributes to ensure LF in repository
  .gitattributes
Labels: none

Add pytest to pre-commit hooks to run tests before commit
  .pre-commit-config.yaml
Labels: configuration

Implement Phase 1 robustness improvements and fix theme display names
  examples/features/app/menubar.py
  examples/features/app/pages/theming.py
  src/qtframework/core/window.py
  src/qtframework/i18n/babel_manager.py
  src/qtframework/plugins/manager.py
  src/qtframework/state/store.py
  src/qtframework/widgets/badge.py
  src/qtframework/widgets/inputs.py
Labels: python, qt, i18n, examples, core, state-management, widgets

Modernize README and add MIT License
  LICENSE
  README.md
Labels: documentation

Add coverage badge and fix documentation links to GitHub Pages
  README.md
Labels: documentation

Switch to Codecov badge for dynamic coverage reporting
  README.md
Labels: documentation

Add Codecov integration to CI workflow
  .github/workflows/ci.yml
Labels: ci/cd, configuration

condense gh run
  .claude/settings.local.json
Labels: none

Fix window flashing on application startup
  examples/features/app/showcase_window.py
  examples/features/main.py
Labels: python, examples

Remove deprecated Qt high DPI attributes
  examples/features/main.py
Labels: python, examples

Update all dependency minimum versions to currently installed versions
  pyproject.toml
Labels: python, configuration, dependencies

Switch CI from pip to uv for faster dependency installation
  .github/actions/setup-environment/action.yml
Labels: ci/cd, configuration

Split CI workflow into granular jobs with cross-platform testing
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Only upload coverage from ubuntu to avoid redundant uploads
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Run tests without coverage on Windows/macOS
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Run tests without coverage on Windows/macOS
  .github/actions/setup-environment/action.yml
  .github/workflows/ci.yml
  .github/workflows/test-reusable.yml
  pyproject.toml
  uv.lock
Labels: python, ci/cd, configuration, dependencies

Fix CI linting/security issues and improve GitHub annotations
  .github/scripts/bandit_annotate.py
  .github/workflows/ci.yml
  pyproject.toml
  scripts/benchmark_summary.py
Labels: python, ci/cd, configuration, dependencies, scripts

TEST: Add intentional errors to test CI annotations
  test_annotations.py
Labels: python, testing

TEST: Move test file to src/ with intentional errors
  src/test_annotations.py
Labels: python, testing

Improve bandit annotations with title and column info
  .github/scripts/bandit_annotate.py
Labels: python, ci/cd

Remove redundant Bandit security scanning
  .github/scripts/bandit_annotate.py
  .github/workflows/ci.yml
  pyproject.toml
  src/test_annotations.py
  uv.lock
Labels: python, testing, ci/cd, configuration, dependencies

TEST: Re-add test file to verify ruff security annotations
  src/test_annotations.py
Labels: python, testing

TEST: Replace with type checking errors to verify mypy annotations
  src/test_annotations.py
Labels: python, testing

.github/labeler.yml:

# Auto-labeling configuration for pull requests

# Source code changes
python:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.py"
          - "pyproject.toml"
          - "requirements*.txt"
          - "uv.lock"

# Documentation
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "**/*.md"
          - "**/*.rst"
          - "README.md"
          - "CHANGELOG.md"
          - "CONTRIBUTING.md"

# Testing
testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**/*"
          - "**/*test*.py"
          - "pytest.ini"
          - ".coveragerc"
          - "tox.ini"

# CI/CD
ci/cd:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"
          - ".gitlab-ci.yml"
          - "Jenkinsfile"
          - ".circleci/**/*"
          - ".travis.yml"

# QT Framework specific
qt:
  - changed-files:
      - any-glob-to-any-file:
          - "src/qtframework/**/*"
          - "**/widgets/**/*"
          - "**/gui/**/*"

# i18n/Localization
i18n:
  - changed-files:
      - any-glob-to-any-file:
          - "locales/**/*"
          - "src/qtframework/i18n/**/*"
          - "**/*.po"
          - "**/*.pot"
          - "**/*.mo"
          - "babel.cfg"

# Configuration
configuration:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.yml"
          - "**/*.yaml"
          - "**/*.toml"
          - "**/*.ini"
          - "**/*.cfg"
          - ".env*"

# Docker
docker:
  - changed-files:
      - any-glob-to-any-file:
          - "Dockerfile*"
          - "docker-compose*.yml"
          - ".dockerignore"
          - "docker/**/*"

# Dependencies
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "pyproject.toml"
          - "requirements*.txt"
          - "uv.lock"
          - "poetry.lock"
          - "Pipfile*"
          - "setup.py"
          - "setup.cfg"

# Security
security:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*security*"
          - "**/*auth*"
          - "**/*crypt*"
          - ".secrets*"

# Examples
examples:
  - changed-files:
      - any-glob-to-any-file:
          - "examples/**/*"
          - "demo/**/*"
          - "samples/**/*"

# Scripts
scripts:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/**/*"
          - "tools/**/*"
          - "bin/**/*"

# Database
database:
  - changed-files:
      - any-glob-to-any-file:
          - "**/models/**/*"
          - "**/migrations/**/*"
          - "**/alembic/**/*"
          - "**/*.sql"

# Performance
performance:
  - changed-files:
      - any-glob-to-any-file:
          - "**/benchmark*/**/*"
          - "**/perf*/**/*"
          - "**/*profile*"

# Major components
core:
  - changed-files:
      - any-glob-to-any-file:
          - "src/qtframework/core/**/*"

navigation:
  - changed-files:
      - any-glob-to-any-file:
          - "src/qtframework/navigation/**/*"

state-management:
  - changed-files:
      - any-glob-to-any-file:
          - "src/qtframework/state/**/*"

theming:
  - changed-files:
      - any-glob-to-any-file:
          - "src/qtframework/theme/**/*"
          - "**/styles/**/*"
          - "**/*.qss"

widgets:
  - changed-files:
      - any-glob-to-any-file:
          - "src/qtframework/widgets/**/*"

utils:
  - changed-files:
      - any-glob-to-any-file:
          - "src/qtframework/utils/**/*"
