Repository beelzer/QTframework, changes with the labels that .github/labeler.yml gives for each.
All labels: python, documentation, testing, ci/cd, qt, i18n, configuration, docker, dependencies, security, examples, scripts, database, performance, core, navigation, state-management, theming, widgets, utils

.github/labeler.yml:

# Auto-labeling configuration for pull requests

# Source code changes
python:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.py"
          - "pyproject.toml"
          - "requirements*.txt"
          - "uv.lock"

# Documentation
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "**/*.md"
          - "**/*.rst"
          - "README.md"
          - "CHANGELOG.md"
          - "CONTRIBUTING.md"

# Testing
testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**/*"
          - "**/*test*.py"
          - "pytest.ini"
          - ".coveragerc"
          - "tox.ini"

# CI/CD
ci/cd:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"
          - ".gitlab-ci.yml"
          - "Jenkinsfile"
          - ".circleci/**/*"
          - ".travis.yml"

# QT Framework specific
qt:
  - changed-files:
      - any-glob-to-any-file:
          - "src/qtframework/**/*"
          - "**/widgets/**/*"
          - "**/gui/**/*"

# i18n/Localization
i18n:
  - changed-files:
      - any-glob-to-any-file:
          - "locales/**/*"
          - "src/qtframework/i18n/**/*"
          - "**/*.po"
          - "**/*.pot"
          - "**/*.mo"
          - "babel.cfg"

# Configuration
configuration:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.yml"
          - "**/*.yaml"
          - "**/*.toml"
          - "**/*.ini"
          - "**/*.cfg"
          - ".env*"

# Docker
docker:
  - changed-files:
      - any-glob-to-any-file:
          - "Dockerfile*"
          - "docker-compose*.yml"
          - ".dockerignore"
          - "docker/**/*"

# Dependencies
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "pyproject.toml"
          - "requirements*.txt"
          - "uv.lock"
          - "poetry.lock"
          - "Pipfile*"
          - "setup.py"
          - "setup.cfg"

# Security
security:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*security*"
          - "**/*auth*"
          - "**/*crypt*"
          - ".secrets*"

# Examples
examples:
  - changed-files:
      - any-glob-to-any-file:
          - "examples/**/*"
          - "demo/**/*"
          - "samples/**/*"

# Scripts
scripts:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/**/*"
          - "tools/**/*"
          - "bin/**/*"

# Database
database:
  - changed-files:
      - any-glob-to-any-file:
          - "**/models/**/*"
          - "**/migrations/**/*"
          - "**/alembic/**/*"
          - "**/*.sql"

# Performance
performance:
  - changed-files:
      - any-glob-to-any-file:
          - "**/benchmark*/**/*"
          - "**/perf*/**/*"
          - "**/*profile*"

# Major components
core:
  - changed-files:
      - any-glob-to-any-file:
          - "src/qtframework/core/**/*"

navigation:
  - changed-files:
      - any-glob-to-any-file:
          - "src/qtframework/navigation/**/*"

state-management:
  - changed-files:
      - any-glob-to-any-file:
          - "src/qtframework/state/**/*"

theming:
  - changed-files:
      - any-glob-to-any-file:
          - "src/qtframework/theme/**/*"
          - "**/styles/**/*"
          - "**/*.qss"

widgets:
  - changed-files:
      - any-glob-to-any-file:
          - "src/qtframework/widgets/**/*"

utils:
  - changed-files:
      - any-glob-to-any-file:
          - "src/qtframework/utils/**/*"

Add Python 3.14 compatibility reporting to CI summary
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Fix actionlint shellcheck warning for grouped redirects
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Increase test coverage from 40.73% to 40.87% (+0.14pp, +17 tests)
  tests/unit/test_i18n.py
  tests/unit/test_state.py
Labels: python, testing

Increase test coverage from 40.87% to 40.95% (+0.08pp, +6 tests)
  tests/unit/test_inputs.py
  tests/unit/test_migrator.py
  tests/unit/test_tokens.py
Labels: python, testing

Add coverage.json and coverage_analysis.txt to gitignore
  .gitignore
Labels: none

Refactor: Extract reusable components from features example to framework
  REFACTORING_COMPLETE.md
  REFACTORING_EXAMPLES.md
  examples/features/app/content.py
  examples/features/app/dockwidgets.py
  examples/features/app/pages/animations.py
  examples/features/app/pages/base.py
  examples/features/app/pages/buttons.py
  examples/features/app/pages/config.py
  examples/features/app/pages/config_editor.py
  examples/features/app/pages/dialogs.py
  examples/features/app/pages/display.py
  examples/features/app/pages/forms.py
  examples/features/app/pages/i18n.py
  examples/features/app/pages/inputs.py
  examples/features/app/pages/layouts.py
  examples/features/app/pages/selections.py
  examples/features/app/pages/state.py
  examples/features/app/pages/tables.py
  examples/features/app/pages/theming.py
  examples/features/app/pages/trees_lists.py
  examples/features/app/widgets/__init__.py
  src/qtframework/utils/__init__.py
  src/qtframework/utils/search.py
  src/qtframework/utils/styling.py
  src/qtframework/widgets/__init__.py
  src/qtframework/widgets/advanced/__init__.py
  src/qtframework/widgets/advanced/navigation.py
  src/qtframework/widgets/advanced/page_manager.py
  src/qtframework/widgets/advanced/scroll_area.py
  src/qtframework/widgets/code_display.py
  src/qtframework/widgets/color_swatch.py
  src/qtframework/widgets/containers.py
  src/qtframework/widgets/pages.py
Labels: python, documentation, qt, examples, widgets, utils

Improve GitHub Actions annotations for better error visibility
  .github/scripts/markdownlint_annotate.py
  .github/scripts/mypy_annotate.py
  .github/scripts/ruff_annotate.py
  .github/workflows/ci.yml
Labels: python, ci/cd, configuration

Fix markdownlint annotations and clean up unused imports
  .claude/settings.local.json
  .github/scripts/markdownlint_annotate.py
  src/qtframework/utils/search.py
  src/qtframework/utils/styling.py
  src/qtframework/widgets/advanced/navigation.py
  src/qtframework/widgets/advanced/page_manager.py
  src/qtframework/widgets/advanced/scroll_area.py
  src/qtframework/widgets/code_display.py
  src/qtframework/widgets/color_swatch.py
  src/qtframework/widgets/containers.py
  src/qtframework/widgets/pages.py
Labels: python, ci/cd, qt, widgets, utils

Fix CI errors: Mypy type errors, Ruff S110 warnings, and Markdownlint issues
  REFACTORING_COMPLETE.md
  src/qtframework/widgets/code_display.py
  src/qtframework/widgets/containers.py
Labels: python, documentation, qt, widgets

Fix Mypy errors in navigation.py and scroll_area.py
  src/qtframework/widgets/advanced/navigation.py
  src/qtframework/widgets/advanced/scroll_area.py
Labels: python, qt, widgets

Fix Mypy errors in page_manager.py, color_swatch.py, and search.py
  src/qtframework/utils/search.py
  src/qtframework/widgets/advanced/page_manager.py
  src/qtframework/widgets/color_swatch.py
Labels: python, qt, widgets, utils

Refactor GitHub annotation scripts to use shared utilities
  .github/scripts/__init__.py
  .github/scripts/annotation_utils.py
  .github/scripts/markdownlint_annotate.py
  .github/scripts/mypy_annotate.py
  .github/scripts/prettier_annotate.py
  .github/scripts/pytest_annotate.py
  .github/scripts/ruff_annotate.py
  .github/scripts/ruff_format_annotate.py
Labels: python, testing, ci/cd

Remove unused importlib import
  src/qtframework/plugins/manager.py
Labels: python, qt

Update pydantic to 2.12.0b1 for Python 3.14 compatibility
  pyproject.toml
  uv.lock
Labels: python, configuration, dependencies

Update package metadata for PyPI publishing
  pyproject.toml
  uv.lock
Labels: python, configuration, dependencies

Add configurable resource path system and app development instructions
  INSTRUCTIONS_FOR_APP_DEVELOPMENT.md
  src/qtframework/core/application.py
  src/qtframework/themes/stylesheet_generator.py
  src/qtframework/themes/theme.py
  src/qtframework/themes/theme_manager.py
  src/qtframework/utils/__init__.py
  src/qtframework/utils/resources.py
  tests/unit/test_theme_manager.py
Labels: python, documentation, testing, qt, core, utils

Add VBox and HBox layout widgets
  src/qtframework/widgets/__init__.py
  src/qtframework/widgets/layouts.py
Labels: python, qt, widgets

Fix type checking import for QWidget in layouts module
  src/qtframework/widgets/layouts.py
Labels: python, qt, widgets

Fix layout method override compatibility with QWidget
  src/qtframework/widgets/layouts.py
Labels: python, qt, widgets

Fix notification bugs and make notifications more compact
  src/qtframework/widgets/advanced/notifications.py
  src/qtframework/widgets/inputs.py
Labels: python, qt, widgets

Load themes from all resource manager search paths
  src/qtframework/themes/theme_manager.py
Labels: python, qt

Add display name support for choice fields in ConfigEditorWidget
  src/qtframework/widgets/config_editor.py
Labels: python, qt, widgets

Fix theme manager to respect themes_dir parameter and formatting
  src/qtframework/themes/theme_manager.py
  src/qtframework/widgets/config_editor.py
Labels: python, qt, widgets

Add ButtonSize.COMPACT for input-aligned buttons
  src/qtframework/widgets/buttons.py
Labels: python, qt, widgets

Fix button theming and improve compact button styling
  src/qtframework/themes/stylesheet_generator.py
  src/qtframework/widgets/buttons.py
Labels: python, qt, widgets

Add inclusion-based theme filtering system
  src/qtframework/core/application.py
  src/qtframework/themes/theme_manager.py
Labels: python, qt, core

Add QTreeWidget styling support to table styles
  src/qtframework/themes/stylesheet_generator.py
Labels: python, qt

Add theme extensibility and complete all theme token coverage
  resources/themes/monokai.yaml
  resources/themes/nord.yaml
  src/qtframework/themes/builtin_themes.py
  src/qtframework/themes/tokens.py
Labels: python, qt, configuration

Apply code formatting fixes
  src/qtframework/themes/tokens.py
Labels: python, qt

Fix mypy type errors for widget None checks
  src/qtframework/layouts/sidebar.py
  src/qtframework/widgets/color_swatch.py
  src/qtframework/widgets/layouts.py
Labels: python, qt, widgets

Add enhanced logging with color support and utility decorators
  src/qtframework/utils/__init__.py
  src/qtframework/utils/decorators.py
  src/qtframework/utils/logger.py
Labels: python, qt, utils

Fix type checking and linting issues in utils module
  src/qtframework/utils/decorators.py
  src/qtframework/utils/logger.py
Labels: python, qt, utils

Add shared config submodule and refactor tool configurations
  .gitmodules
  .pre-commit-config.yaml
  pyproject.toml
Labels: python, configuration, dependencies

Apply ruff auto-fixes and update config integration
  .pre-commit-config.yaml
  docs/conf.py
  examples/features/app/content.py
  examples/features/app/dockwidgets.py
  examples/features/app/menubar.py
  examples/features/app/navigation.py
  examples/features/app/pages/animations.py
  examples/features/app/pages/buttons.py
  examples/features/app/pages/config.py
  examples/features/app/pages/config_editor.py
  examples/features/app/pages/dialogs.py
  examples/features/app/pages/display.py
  examples/features/app/pages/forms.py
  examples/features/app/pages/i18n.py
  examples/features/app/pages/inputs.py
  examples/features/app/pages/layouts.py
  examples/features/app/pages/selections.py
  examples/features/app/pages/state.py
  examples/features/app/pages/tables.py
  examples/features/app/pages/theming.py
  examples/features/app/pages/trees_lists.py
  examples/features/app/showcase_window.py
  examples/features/app/toolbar.py
  examples/features/app/widgets/__init__.py
  examples/features/main.py
  pyproject.toml
Labels: python, documentation, qt, configuration, dependencies, examples

Update workflows to use shared config submodule
  .github/scripts/mypy_annotate.py
  .github/workflows/ci.yml
Labels: python, ci/cd, configuration

Fix codecov action for v5 compatibility
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Add comprehensive scrollbar theming support with textures
  src/qtframework/themes/stylesheet_generator.py
  src/qtframework/themes/tokens.py
Labels: python, qt

Simplify scrollbar texture implementation with background-image
  src/qtframework/themes/stylesheet_generator.py
Labels: python, qt

Fix linting issues in stylesheet_generator
  src/qtframework/themes/stylesheet_generator.py
Labels: python, qt

Fix scrollbar 9-slice border-image rendering
  src/qtframework/themes/stylesheet_generator.py
Labels: python, qt
