Repository beelzer/QTframework, changes with the labels that .github/labeler.yml gives for each.
All labels: python, documentation, testing, ci/cd, qt, i18n, configuration, docker, dependencies, security, examples, scripts, database, performance, core, navigation, state-management, theming, widgets, utils

Update CI workflow to use Python script for prettier
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Change annotations from warning to error for clickable links
  .github/scripts/prettier_annotate.py
  .github/scripts/pyupgrade_annotate.py
Labels: python, ci/cd

Add debug output to prettier annotation script
  .github/scripts/prettier_annotate.py
Labels: python, ci/cd

Add more debug output to stdout
  .github/scripts/prettier_annotate.py
Labels: python, ci/cd

Fix prettier annotation script to parse stderr instead of stdout
  .github/scripts/prettier_annotate.py
Labels: python, ci/cd

Remove test annotation files and workflow
  .github/workflows/test_annotations.yml
  src/qtframework/test_annotations.py
  test_annotations.json
  test_annotations.txt
Labels: python, testing, ci/cd, qt, configuration

Make performance test more lenient for macOS
  tests/performance/test_performance.py
Labels: python, testing, performance

Add Python 3.14 test job with continue-on-error
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Enable prerelease Python versions for 3.14 test job
  .github/actions/setup-environment/action.yml
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Fix formatting and permissions for pytest_future_python.py
  .github/scripts/pytest_future_python.py
  .github/workflows/ci.yml
Labels: python, testing, ci/cd, configuration

Add detailed dependency failure information to Python 3.14 annotations
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Fix shellcheck warnings in annotation script
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Remove pytest_future_python.py wrapper and simplify test execution
  .github/scripts/pytest_future_python.py
  .github/workflows/ci.yml
Labels: python, testing, ci/cd, configuration

Fix conditional execution for Python 3.14 tests
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Use step outputs instead of environment variables for install status
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Rebuild Python 3.14 test with simplified error handling
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Fix shellcheck errors with backtick escaping
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Fix SC2016 shellcheck warnings with proper backtick escaping
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Remove redundant 'required by' text when package requires itself
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Compare package names without version for redundancy check
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Use bash parameter substitution instead of sed for SC2001
  .github/workflows/ci.yml
Labels: ci/cd, configuration

Enhance documentation workflow with comprehensive checks
  .github/scripts/sphinx_annotate.py
  .github/workflows/docs.yml
Labels: python, ci/cd, configuration

Fix Sphinx build by adding Qt dependencies and improving error detection
  .github/scripts/sphinx_annotate.py
  .github/workflows/docs.yml
Labels: python, ci/cd, configuration

Add comprehensive docstrings to state management modules
  src/qtframework/state/middleware.py
  src/qtframework/state/reducers.py
Labels: python, qt, state-management

Add remaining docstrings to config module
  src/qtframework/config/config.py
Labels: python, qt

Refactor config and i18n into modular components and add ConfigEditorWidget
  .gitignore
  docs/widgets/config_editor.md
  examples/features/app/content.py
  examples/features/app/navigation.py
  examples/features/app/pages/config.py
  examples/features/app/pages/config_editor.py
  examples/features/app/showcase_window.py
  examples/features/config.yaml.example
  src/qtframework/config/__init__.py
  src/qtframework/config/file_loader.py
  src/qtframework/config/manager.py
  src/qtframework/config/migrator.py
  src/qtframework/config/validator.py
  src/qtframework/core/application.py
  src/qtframework/i18n/__init__.py
  src/qtframework/i18n/babel_manager.py
  src/qtframework/i18n/contexts.py
  src/qtframework/i18n/extractor.py
  src/qtframework/i18n/locale_formatter.py
  src/qtframework/i18n/translation_loader.py
  src/qtframework/i18n/widgets.py
  src/qtframework/navigation/router.py
  src/qtframework/state/store.py
  src/qtframework/widgets/__init__.py
  src/qtframework/widgets/config_editor.py
Labels: python, documentation, qt, i18n, examples, core, navigation, state-management, widgets

Enhance search, themes, and UI auto-refresh features
  examples/features/app/content.py
  examples/features/app/menubar.py
  examples/features/app/navigation.py
  examples/features/app/pages/config.py
  examples/features/app/pages/config_editor.py
  examples/features/app/pages/theming.py
  examples/features/config.yaml.example
  resources/icons/clear-search.svg
  resources/icons/create_arrow_png.py
  resources/icons/dropdown-arrow-dark.svg
  resources/icons/dropdown-arrow-filled.svg
  resources/icons/dropdown-arrow.svg
  resources/themes/monokai.yaml
  resources/themes/nord.yaml
  resources/themes/solarized_dark.yaml
  src/qtframework/config/validator.py
  src/qtframework/themes/builtin_themes.py
  src/qtframework/themes/stylesheet_generator.py
  src/qtframework/themes/theme_manager.py
  src/qtframework/widgets/config_editor.py
Labels: python, qt, configuration, examples, widgets

Add comments to clarify theme change handling in config overview
  examples/features/app/pages/config.py
Labels: python, examples

Fix auto theme not updating when switching from matching manual theme
  src/qtframework/themes/theme_manager.py
Labels: python, qt

Remove redundant Theme Switcher page and fix theme menu sync
  .github/scripts/mypy_annotate.py
  .github/scripts/pytest_annotate.py
  .github/scripts/ruff_format_annotate.py
  examples/features/app/content.py
  examples/features/app/menubar.py
  examples/features/app/navigation.py
  src/qtframework/widgets/config_editor.py
Labels: python, testing, ci/cd, qt, examples, widgets

Fix mypy type error in theme_manager detect_system_theme
  src/qtframework/themes/theme_manager.py
Labels: python, qt

Fix docs build by adding config_editor widget to toctree
  docs/index.md
Labels: documentation

Enhance color palette page with dynamic theme colors and live updates
  examples/features/app/pages/theming.py
Labels: python, examples

Make color palette fully responsive and fix ampersand display
  examples/features/app/pages/theming.py
Labels: python, examples

Replace font_size with percentage-based font_scale for better accessibility
  docs/guides/theming.md
  docs/widgets/config_editor.md
  examples/features/app/pages/config_editor.py
  examples/features/app/showcase_window.py
  examples/features/config.yaml.example
  src/qtframework/config/validator.py
  src/qtframework/themes/theme_manager.py
  src/qtframework/themes/tokens.py
Labels: python, documentation, qt, examples

Expand test coverage from 12.65% to 40.73% (+28 percentage points)
  tests/conftest.py
  tests/unit/test_application.py
  tests/unit/test_base_widget.py
  tests/unit/test_buttons.py
  tests/unit/test_config.py
  tests/unit/test_context.py
  tests/unit/test_exceptions.py
  tests/unit/test_file_loader.py
  tests/unit/test_i18n.py
  tests/unit/test_inputs.py
  tests/unit/test_layouts.py
  tests/unit/test_manager.py
  tests/unit/test_migrator.py
  tests/unit/test_providers.py
  tests/unit/test_state.py
  tests/unit/test_store.py
  tests/unit/test_theme.py
  tests/unit/test_theme_manager.py
  tests/unit/test_tokens.py
  tests/unit/test_validation.py
  tests/unit/test_validator.py
  tests/unit/test_window.py
Labels: python, testing

Expand test coverage from 12.65% to 40.73% (+28 percentage points)
  tests/conftest.py
  tests/unit/test_application.py
  tests/unit/test_buttons.py
  tests/unit/test_config.py
  tests/unit/test_context.py
  tests/unit/test_file_loader.py
  tests/unit/test_inputs.py
  tests/unit/test_layouts.py
  tests/unit/test_manager.py
  tests/unit/test_migrator.py
  tests/unit/test_providers.py
  tests/unit/test_store.py
  tests/unit/test_theme.py
  tests/unit/test_theme_manager.py
  tests/unit/test_validation.py
  tests/unit/test_validator.py
  tests/unit/test_window.py
Labels: python, testing

Configure ruff to ignore S105/S110 false positives in test files
  pyproject.toml
Labels: python, configuration, dependencies

Fix CI ruff linting errors in test files
  tests/unit/test_exceptions.py
  tests/unit/test_i18n.py
Labels: python, testing

Fix CI test failures across all OS platforms
  tests/unit/test_manager.py
  tests/unit/test_theme_manager.py
Labels: python, testing

.github/labeler.yml:

# Auto-labeling configuration for pull requests

# Source code changes
python:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.py"
          - "pyproject.toml"
          - "requirements*.txt"
          - "uv.lock"

# Documentation
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "docs/**/*"
          - "**/*.md"
          - "**/*.rst"
          - "README.md"
          - "CHANGELOG.md"
          - "CONTRIBUTING.md"

# Testing
testing:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**/*"
          - "**/*test*.py"
          - "pytest.ini"
          - ".coveragerc"
          - "tox.ini"

# CI/CD
ci/cd:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"
          - ".gitlab-ci.yml"
          - "Jenkinsfile"
          - ".circleci/**/*"
          - ".travis.yml"

# QT Framework specific
qt:
  - changed-files:
      - any-glob-to-any-file:
          - "src/qtframework/**/*"
          - "**/widgets/**/*"
          - "**/gui/**/*"

# i18n/Localization
i18n:
  - changed-files:
      - any-glob-to-any-file:
          - "locales/**/*"
          - "src/qtframework/i18n/**/*"
          - "**/*.po"
          - "**/*.pot"
          - "**/*.mo"
          - "babel.cfg"

# Configuration
configuration:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.yml"
          - "**/*.yaml"
          - "**/*.toml"
          - "**/*.ini"
          - "**/*.cfg"
          - ".env*"

# Docker
docker:
  - changed-files:
      - any-glob-to-any-file:
          - "Dockerfile*"
          - "docker-compose*.yml"
          - ".dockerignore"
          - "docker/**/*"

# Dependencies
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "pyproject.toml"
          - "requirements*.txt"
          - "uv.lock"
          - "poetry.lock"
          - "Pipfile*"
          - "setup.py"
          - "setup.cfg"

# Security
security:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*security*"
          - "**/*auth*"
          - "**/*crypt*"
          - ".secrets*"

# Examples
examples:
  - changed-files:
      - any-glob-to-any-file:
          - "examples/**/*"
          - "demo/**/*"
          - "samples/**/*"

# Scripts
scripts:
  - changed-files:
      - any-glob-to-any-file:
          - "scripts/**/*"
          - "tools/**/*"
          - "bin/**/*"

# Database
database:
  - changed-files:
      - any-glob-to-any-file:
          - "**/models/**/*"
          - "**/migrations/**/*"
          - "**/alembic/**/*"
          - "**/*.sql"

# Performance
performance:
  - changed-files:
      - any-glob-to-any-file:
          - "**/benchmark*/**/*"
          - "**/perf*/**/*"
          - "**/*profile*"

# Major components
core:
  - changed-files:
      - any-glob-to-any-file:
          - "src/qtframework/core/**/*"

navigation:
  - changed-files:
      - any-glob-to-any-file:
          - "src/qtframework/navigation/**/*"

state-management:
  - changed-files:
      - any-glob-to-any-file:
          - "src/qtframework/state/**/*"

theming:
  - changed-files:
      - any-glob-to-any-file:
          - "src/qtframework/theme/**/*"
          - "**/styles/**/*"
          - "**/*.qss"

widgets:
  - changed-files:
      - any-glob-to-any-file:
          - "src/qtframework/widgets/**/*"

utils:
  - changed-files:
      - any-glob-to-any-file:
          - "src/qtframework/utils/**/*"
